*{
    font-family: 'Kufam', sans-serif;
}
/*body*/
body{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
/*info*/
.info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 30px;
}
.from-to{
    font-size: 30px;
}
/* Hide the default checkbox */
.circle-checkbox input[type="checkbox"] {
    display: none;
}
/* Create the custom circle */
.circle-checkbox  span{
    display: inline-block;
    width: 70px;  
    height: 70px; 
    border: 2px solid transparent;
    border-radius: 50%;  
    margin-right: 10px;
    vertical-align: middle;
    background-color: white;  
    transition: background-color 0.3s ease;
}
/* Style when checked */
.circle-checkbox input[type="checkbox"]:checked + span {
    background-color: rgb(114, 114, 220); 
    border-color:  rgb(114, 114, 220);
}

.btn-container{
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    padding: 50px;
    border-radius: 20px;
}


button{
    border: none;
    border-radius: 50%;
    color: black;
    background-color: transparent !important;
 
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 950px;
}

#colors-pal{
    width: 80%;
    max-width: 300px;
    text-align: center;
    
    height: 300px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #4CAF50;
}
#colors-pal div{
    margin: auto;
    position: relative;
    top: 20%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#change{
    border: none;
    height: 50px;
    width: 50px;
    font-size: 17px;
    font-weight: 600;
    float: left;
    background-color: rgb(49, 131, 49) !important;
    border-radius: 50%;
    color: white;
    margin-top: 100px;

}
#default{
    border: none;
    height: 50px;
    width: 100px;
    font-size: 17px;
    font-weight: 600;
    float: right;
    background-color: rgb(56, 56, 162) !important;
    border-radius: 50px;
    color: white;
    margin-top: 100px;

}



/*md to sm*/
@media(max-width: 950px){
.info-container{
    padding: 10px;
}
    .circle-checkbox  span{
        display: inline-block;
        width: 60px;   
        height: 60px;  
        margin-right: 10px;
    }
    .btn-container{
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 20px;
        padding: 10px;
    }
    .options{
        max-width: 700px;
    }

}
@media(max-width: 750px){

.info-container{
    padding: 10px;
}
    .circle-checkbox  span{
        width: 60px; 
        height: 60px; 
        margin-right: 10px;
    }
    .btn-container{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 20px; 
        padding: 10px;
    }
    .options{
        max-width: 450px;
    }

}

@media(max-width: 450px){
.info-container{
    padding: 10px;
}
    .circle-checkbox  span{
        width: 30px;   
        height: 30px;  
    }
    .btn-container{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 10px; 
        padding: 10px;
    }
    .options{
        max-width: 250px;
    }
    h4{
        font-size: 0.6em !important;
    }
}
